
  .hidden {
    display: none;
  }

  .cart-content {
    padding: 20px;
  }

  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .thumbnail-image {
    width: 100px; 
    height: 100px; 
    border-radius: 5px;
    object-fit: cover; 
    margin-left: 30px;
    margin-right: 20px;
  }

  .item-details {
    font-size: 1rem; 
  }

  .cart-item {
    display: flex;
    align-items: center;
    margin-top:20px;
  }

  h1, h2, h3{
    color:white;
    margin-left:50px;
  }

  .button-margin{
    margin-left: 50px;
  }

  .input_container {
    margin: 0 auto;
    width: 50%;
    margin-left:50px;
    margin-bottom: 20px;
  }
  
  .input_label {
      font-size: 14px;
      font-weight: bold;
      color: white;
      margin-bottom: 5px;
      display: block;
    }
  

    .input_container {
      display: inline-block;

      background-color: white;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }

   /* Stripe element */
   .stripe {
    border: none;
    width: 100%;
    font-size: 18px;
    padding: 6px 0;
    outline: none;
    background-color: transparent;
  }

  .stripe::placeholder {
    color: white; 
  }

  /*loading animation */

  .loader {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .ball {
    list-style: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .ball:nth-child(1) {
    animation: bounce-1 2.1s ease-in-out infinite;
  }
  
  @keyframes bounce-1 {
    50% {
      transform: translateY(-18px);
    }
  }
  
  .ball:nth-child(2) {
    animation: bounce-3 2.1s ease-in-out 0.3s infinite;
  }
  
  @keyframes bounce-2 {
    50% {
      transform: translateY(-18px);
    }
  }
  
  .ball:nth-child(3) {
    animation: bounce-3 2.1s ease-in-out 0.6s infinite;
  }
  
  @keyframes bounce-3 {
    50% {
      transform: translateY(-18px);
    }
  }

  .loading-wrapper.hidden {
    display: none;
  }

  /*hide the form when checkoutProcessing is true */
form.hidden {
  opacity: 0;
  pointer-events: none; 
}

/*loading animation wrapper */
.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}
