.centered-paragraph {
    text-align: center;
    color:white;
  }

  .centered-chip-listbox {
    display: flex;
    justify-content: center;
  }

  .paragraph-container {
    display: flex;
    width: 70%;
  }
  
  .paragraph-container p {
    flex: 1;
   
  }

  .centered-div {
    text-align: center;
  }

  .span-space {
    margin-right: 20px;
    margin-left: 20px;
  }

  .update-heading {
    margin-top:100px;
    margin-left: 140px; 
    color:white;
    font-size: 36px; 

  }

  