<div class="left-div">
    <h2>Here are your past purchases! </h2>

</div>

<div *ngFor="let item of items">
  <div class="order-label">
    <div class="order-info">
      <h5><strong>Order ID: {{ item.orderId }}</strong></h5>
    </div>
    <span class="spacer"></span>
    <div class="order-info">
      <h5><strong>Order Date: {{ item.orderDate }}</strong></h5>
    </div>
  </div>
  <div *ngFor="let purchase of item.pastPurchases"></div>

  <div class="image-wrapper" *ngFor="let purchase of item.pastPurchases">
    <div class="image-content">
      <img src="{{ purchase.imgUrl }}" alt="{{ purchase.name }}" class="small-image">
    </div>
    <div class="purchase-details">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>{{ purchase.artist }}</mat-card-subtitle>
          <mat-card-title #itemNameRef>{{ purchase.name }}</mat-card-title>
        </mat-card-header>
        <div class="card-content-wrapper"> <!-- New wrapper div for Flexbox -->
          <mat-card-content>
            <mat-card-subtitle>Genre: {{ purchase.genre }}</mat-card-subtitle>
            <!-- Add other content here -->
          </mat-card-content>
        </div>
        <!-- Use Flexbox to anchor the rating section to the bottom -->
        <div class="rating-wrapper">
          <mat-card-content>
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions>
            <!-- <div class="rating">
              Rate this album:
              <br>
              <span class="star" [ngClass]="{'filled': item.rating >= 1}" (click)="selectRating(item, 1)"></span>
              <span class="star" [ngClass]="{'filled': item.rating >= 2}" (click)="selectRating(item, 2)"></span>
              <span class="star" [ngClass]="{'filled': item.rating >= 3}" (click)="selectRating(item, 3)"></span>
              <span class="star" [ngClass]="{'filled': item.rating >= 4}" (click)="selectRating(item, 4)"></span>
              <span class="star" [ngClass]="{'filled': item.rating >= 5}" (click)="selectRating(item, 5)"></span>
            </div> -->
          </mat-card-actions>
        </div>
        <br>
      </mat-card>
      <hr>
    </div>
  </div>
  