

<div class="form-container">
	<p class="title">Login</p>
	<form class="form" [formGroup]="loginForm">
		<div class="input-group">
			<label for="email">Email</label>
			<input type="text" name="username" id="username" placeholder="" formControlName="email">
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="" formControlName="password">
		</div>
		<br>
		<button class="sign" (click)="login()">Sign in</button>
	</form>
	
	<br>
	<p class="signup">Don't have an account?
		<a rel="noopener noreferrer"  class=""  (click)="navigateToSignup()">Sign up</a>
	</p>
</div>
