
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="span-space custom-font-size" routerLink="/home">Discover</span>
      <span class="span-space custom-font-size" *ngIf="!isLoggedIn" routerLink="/join">Join The Club</span>
      <span class="example-spacer"></span>
      <div *ngIf="isLoggedIn">
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item class="custom-font-size" routerLink="/summary">My Account</button>
          <button mat-menu-item class="custom-font-size" routerLink="/history">Order History</button>
          <button mat-menu-item class="custom-font-size" (click)="logout()">Logout</button>
          </mat-menu>
        
          <button mat-button [matMenuTriggerFor]="userMenu">
            Hi {{ accSvc.user?.fname }}
            <mat-icon class="arrow-icon custom-font-size">keyboard_arrow_down</mat-icon>
          </button>
      </div>
      <span class="span-space custom-font-size" *ngIf="!isLoggedIn" (click)="openLoginDialog()">Login / Sign up</span>

      <button mat-icon-button (click)="toggleCartColumn()">
        <mat-icon>shopping_cart</mat-icon>
        <mat-badge *ngIf="cartService.getCartItems().length > 0" [matBadge]="cartService.getCartItems().length" matBadgeOverlap="false" class="cart-badge" matBadgeColor="warn"></mat-badge>
      </button>
      
     <!-- Slide-out Cart Column -->
      <div class="cart-column" [@slideInOut]="isCartColumnOpen ? 'visible' : 'closed'">
        <!-- Close Button -->
        <button mat-icon-button class="close-button" (click)="closeCartColumn()">
          <mat-icon>close</mat-icon>
        </button>
        
        <div class="cart-content">
          <!-- Cart Items -->
          <ng-container *ngIf="cartService.getCartItems().length > 0; else emptyCart">
            <p>Your cart</p>
            <div class="cart-item" *ngFor="let item of cartService.getCartItems()">
              <div class="item-thumbnail">
                <img [src]="item.imgUrl" alt="item thumbnail" class="thumbnail-image">
              </div>
              <div class="item-details">
                <h5 class="item-name">{{ item.name }}</h5>
                <p class="item-price">{{ item.price | currency:'SGD':'symbol':'1.2-2' }}</p>
              </div>
              <button mat-icon-button color="warn" (click)="onRemoveFromCart(item)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <p>Total Price: {{ getTotalPrice() | currency:'SGD':'symbol':'1.2-2' }}</p>
            <button mat-raised-button color="accent" (click)="onCheckout()">Checkout</button>
          </ng-container>
          <ng-template #emptyCart>
            <p>No items in your cart</p>
          </ng-template>
        </div>
      </div>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>

