<style>
    .centered-div, .centered-paragraph, .centered-chip-listbox, mat-label, input {
      color: white;
    }
  </style>
<div>
  <br>
  <div class="centered-div">
    <h1><strong>Welcome to the club!</strong></h1>
  </div>
  <div class="centered-div">
    <h3>Please select a plan:</h3>
  </div>
  
  <div class="pack-wrapper">
    <div class="packs-container">
    <div class="pack-container">
        <div class="header">
          <p class="title">
            Monthly
          </p>
          <div class="price-container">
            <span>$</span>39.90
            <span>/mo</span>
          </div>
        </div>
        <div>
          <ul class="lists">
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                1 Vinyl Record monthly
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                Member-only benefits
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="pack-container">
        <div class="header">
          <p class="title">
            Quarterly
          </p>
          <div class="price-container">
            <span>$</span>34.90
            <span>/mo</span>
          </div>
        </div>
        <div>
          <ul class="lists">
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                1 Vinyl Record monthly
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                Member-only benefits
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
               Save $5/mo
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="pack-container">
        <div class="header">
          <p class="title">
            Annually
          </p>
          <div class="price-container">
            <span>$</span>29.90
            <span>/mo</span>
          </div>
        </div>
        <div>
          <ul class="lists">
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                1 Vinyl Record monthly
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                Member-only benefits
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
               Save $10/mo
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
<form [formGroup]="signupForm">
<div class="centered-div">
    <div class="centered-div">
        <br>
       
    </div>
    
    <div class="centered-chip-listbox">
        <mat-chip-listbox aria-label="Genre selection" formControlName="plan">
            <mat-chip-option color="primary">Monthly</mat-chip-option>
            <mat-chip-option color="primary">Quarterly</mat-chip-option>
            <mat-chip-option color="primary">Annually</mat-chip-option>
    
        </mat-chip-listbox>
    </div>
    
    <br>
    
    <div class="centered-div">
      <h3>Now select a genre for your vinyl record: </h3>
    </div>
    
    
    <div class="centered-chip-listbox">
        <mat-chip-listbox aria-label="Genre selection" formControlName="genre">
            <mat-chip-option color="warn">Pop</mat-chip-option>
            <mat-chip-option color="warn">Rock</mat-chip-option>
            <mat-chip-option color="warn">Classical</mat-chip-option>
            <mat-chip-option color="warn">Country</mat-chip-option>
            <mat-chip-option color="warn">R&B</mat-chip-option>
            <mat-chip-option color="warn">Alternative/Indie</mat-chip-option>
            <mat-chip-option color="warn">Hip Hop</mat-chip-option>
            <mat-chip-option color="warn">Jazz</mat-chip-option>
            <mat-chip-option color="warn">Heavy Metal</mat-chip-option>
            <mat-chip-option color="warn">Reggae</mat-chip-option>
            <mat-chip-option color="warn">Disco</mat-chip-option>
            <mat-chip-option color="warn">Dance/Electronic</mat-chip-option>
            <mat-chip-option color="warn">Techno</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <br>
    <p class="centered-paragraph">
        *You can update your genre preference later on if you change your mind.
    </p>
    </div>

    <div class="centered-div">
        <button mat-raised-button color="accent" [disabled]="!signupForm.valid" (click)="checkOut()">Next</button>
    </div>
</form>

  