<style>
    .centered-div, .centered-paragraph, .centered-chip-listbox, mat-label, input {
      color: white;
    }
  </style>
<div>
<form [formGroup]="signupForm">
<div class="centered-div">
    <div class="centered-div">
        <h1>Welcome to the club!</h1>
        <br>
        Select a plan: 
    </div>
    
    <div class="centered-chip-listbox">
        <mat-chip-listbox aria-label="Genre selection" formControlName="plan">
            <mat-chip-option color="primary">Monthly</mat-chip-option>
            <mat-chip-option color="primary">Quarterly</mat-chip-option>
            <mat-chip-option color="primary">Annually</mat-chip-option>
    
        </mat-chip-listbox>
    </div>
    
    <br>
    
    <p class="centered-paragraph">
        Select a genre for your first album:
    </p>
    
    
    <div class="centered-chip-listbox">
        <mat-chip-listbox aria-label="Genre selection" formControlName="genre">
            <mat-chip-option color="warn">Pop</mat-chip-option>
            <mat-chip-option color="warn">Rock</mat-chip-option>
            <mat-chip-option color="warn">Classical</mat-chip-option>
            <mat-chip-option color="warn">Country</mat-chip-option>
            <mat-chip-option color="warn">R&B</mat-chip-option>
            <mat-chip-option color="warn">Alternative/Indie</mat-chip-option>
            <mat-chip-option color="warn">Hip Hop</mat-chip-option>
            <mat-chip-option color="warn">Jazz</mat-chip-option>
            <mat-chip-option color="warn">Heavy Metal</mat-chip-option>
            <mat-chip-option color="warn">Reggae</mat-chip-option>
            <mat-chip-option color="warn">Disco</mat-chip-option>
            <mat-chip-option color="warn">Dance/Electronic</mat-chip-option>
            <mat-chip-option color="warn">Techno</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <br>
    <p class="centered-paragraph">
        *You can update your genre preference later on if you change your mind.
    </p>
    </div>

    <div class="centered-div">
        <button mat-raised-button color="accent" [disabled]="!signupForm.valid" (click)="checkOut()">Next</button>
    </div>
</form>

  