.centered-paragraph {
    text-align: center;
  }

  .centered-chip-listbox {
    display: flex;
    justify-content: center;
  }

  .paragraph-container {
    display: flex;
    width: 70%;
  }
  
  .paragraph-container p {
    flex: 1;
   
  }

  .centered-div {
    text-align: center;
  }

  .span-space {
    margin-right: 20px;
    margin-left: 20px;
  }

  .form-container {
    display: flex;
  }
  
  .left-column,
  .right-column {
    flex: 1;
  }
  
  .left-column p,
  .right-column p {
    margin-bottom: 10px;
  }
  
  
  .left-column {
    width: 50%;
    float: left;
  }
  
  .right-column {
    width: 50%;
    float: right;
  }

  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form-column {
    flex: 1;
    padding: 0 10px;
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px; 
    text-align: center;
  }

  .image-wrapper img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
  }

  h3, h5 {
    line-height: 0.5; 
  }

  .text-wrapper {
    margin-left: 40px; 
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    text-align: right;
}

mat-form-field {
    width: 80%; 
}

.input_container {
  margin: 0 auto;
  width: 50%;
  
}

.input_label {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    display: block;
  }

  /* Styles for the input container */
  .input_container {
    display: inline-block;
    /* background-color: #5d5d5d; */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  /* Styles for the stripe element */
  .stripe {
    border: none;
    width: 100%;
    font-size: 18px;
    padding: 6px 0;
    outline: none;
    background-color: transparent;
  }

  .stripe::placeholder {
    color: white; 
  }

/* for loading animation */

  .loader {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .ball {
    list-style: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .ball:nth-child(1) {
    animation: bounce-1 2.1s ease-in-out infinite;
  }
  
  @keyframes bounce-1 {
    50% {
      transform: translateY(-18px);
    }
  }
  
  .ball:nth-child(2) {
    animation: bounce-3 2.1s ease-in-out 0.3s infinite;
  }
  
  @keyframes bounce-2 {
    50% {
      transform: translateY(-18px);
    }
  }
  
  .ball:nth-child(3) {
    animation: bounce-3 2.1s ease-in-out 0.6s infinite;
  }
  
  @keyframes bounce-3 {
    50% {
      transform: translateY(-18px);
    }
  }

  .loading-wrapper.hidden {
    display: none;
  }

  /* CSS to hide the form when checkoutProcessing is true */
form.hidden {
  opacity: 0;
  pointer-events: none; /* Disable form interactions while hidden */
}

/* CSS for the loading animation wrapper */
.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black; /* Optional: Add a semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Optional: Ensure the loader is above the form */
}
